/* From twitter typeahead */

.tt-suggestion {
  padding: 3px 20px;
  font-size: 14px;
  line-height: 24px;
}

.tt-menu {
  width: 100%;
  margin: 0 0;
  background-color: #fff;
  border: 1px solid #ccc !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 0 0 8px 8px;
     -moz-border-radius: 0 0 8px 8px;
          border-radius: 0 0 8px 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0,0,0,.2);
     -moz-box-shadow: 0 5px 10px rgba(0,0,0,.2);
          box-shadow: 0 5px 10px rgba(0,0,0,.2);
}
