.tt-menu {
  position: absolute !important;
  top: inherit !important;
  background-color: #fff;
}

.multichar input[type=button] {
  padding:6px;
  margin:0px;
}

span.twitter-typeahead {
    position:relative !important;
    display:inline !important;
}

.tt-menu {
  margin: 0 0;
  padding:3px;
  left:0px;
  min-width:200px;
  background-color: #fff;
  border: 1px solid #ccc !important;
  border: 1px solid rgba(0, 0, 0, 0.2);
}