{% load data_interrogator %}

{% if count %}
{{ count }} rows returned
{% endif %}

<table class="table interrogation_room">
    <thead>
        <tr>
            {% for col in columns %}
                <th>{% clean_column_name col %}</th>
            {% endfor %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for col in columns %}
                <td>{% wrap_sheet row col %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>
