{% if errors %}
    <strong>There were errors processing your query, please correct the following issues</strong>
    <ul class="interrogation_errors">
        {% for error in errors %}
            <li>{{ error|linebreaks }}</li>
        {% endfor %}
    </ul>
{% endif %}
<form method="get">
    {{ form.media }}
    {{ form }}
    <button name="action" type="submit" value="">Update table</button>
    {% if request.user.is_superuser %}
    <button name="action" type="submit" value="makestatic">Make a static table</button>
</form>
