{% load data_interrogator_tags %}

{% if count %}
{{ count }} rows returned
{% endif %}


<pre>

{{query}}

</pre>
<table class="interrogation_room">
    <thead>
        <tr>
            {% if headers %}
                {% for col,text in headers %}
                    <th>{{ text }}</th>
                {% endfor %}
            {% else %}
                {% for col in columns %}
                    <th>{% clean_column_name col %}</th>
                {% endfor %}
            {% endif %}
        </tr>
    </thead>
    <tbody>
        {% for row in rows %}
        <tr>
            {% for col in columns %}
                <td>{% custom_cell_display row col %}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </tbody>
</table>

<script>


var elems = document.querySelectorAll('textarea');

for (var i = 0; i < elems.length; ++i) {
  elems[i].addEventListener('keydown', function (e) {
    console.log(e);
    if (e.keyCode === 13) {
            console.log('enter');
        // Ctrl + Enter
        if(e.ctrlKey) {
            document.querySelector('form').submit()

        // Enter
        } else {
            console.log('enter');
        }
    }
    });
}


</script>