{% extends "admin/base_site.html" %}
{% load data_interrogator_tags i18n %}

{% block title %}Data Interrogator > Admin table builder{% endblock %}

{% block extrahead %}
<!-- for fancy tables -->
    {{ form.media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo;
<a href="">{% trans 'Data Interrogator' %}</a>
&rsaquo; Table Builder
</div>
{% endblock %}

{% block content %}

<div class="">
    <div style="float:right;width:500px;">
    <h3>How to make a table</h3>
    <ol>
        <li>Select a model (table) to generate queries from</li>
        <li>
            <em>Filters</em> can be entered with any of the following:
            <table>
            <tr><td><tt>=</tt> / <tt>!=</tt></td>     <td>equal to / not equal to</td></tr>
            <tr><td><tt>&gt;</tt> / <tt>&gt;=</tt></td>  <td>greater than / greater than or equal to</td></tr>
            <tr><td><tt>&lt;</tt> / <tt>&lt;=</tt></td>  <td>less than / less than or equal to</td></tr>
            </table>
            For example: <tt>age > 10</tt>.
        </li>
        <li>
            <em>Filters, Columns, and Sort by</em> can be any field on a model, or using dot-separated syntax to query
            across. For example:
            <table>
            <tr><td><tt>age</tt></td>     <td>age of the base query object</td></tr>
            <tr><td><tt>parent.age</tt></td>    <td>age of the object linked by the related <tt>parent</tt> object</td></tr>
            <tr><td><tt>parent.sibling.age</tt></td>    <td>age of the <tt>sibling</tt> of the <tt>parent</tt> object</td></tr>
            </table>
        </li>
        <li>
            <em>Sort by</em> can be reversed by prepending a minus symbol: <tt>-</tt>
        </li>
    </ol>
    </div>
    <div style="">
        {% include "admin/analytics/form.html" %}
        <br class="clear">
        {% include "admin/analytics/table_display.html" %}
    </div>

</div>
{% endblock %}
