{% extends "admin/base_site.html" %}
{% load data_interrogator_tags i18n %}

{% block title %}Data Interrogator > Admin table builder{% endblock %}

{% block extrahead %}
<!-- for fancy tables -->
    {{ form.media }}
{% endblock %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo;
<a href="{% url 'admin:app_list' 'data_interrogator' %}">{% trans 'Data Interrogator' %}</a>
&rsaquo; Pivot Table Builder
</div>
{% endblock %}

{% block content %}

<div class="display:table-row">
<div style="max-width:80%;display:table-cell">
    {% include "data_interrogator/admin/lineup.html" %}
    {% include 'data_interrogator/pivot_table.html' %}
</div>
<div style="width:20%;min-width:150px;display:table-cell">
<h3>How to make a table</h3>
<ol>
    <li>Select a model (table) to generate queries from</li>
    <li>
        <em>Filters</em> can be entered with any of the following:
        <ul>
        <li><pre>=</pre> equal to</li>
        <li><pre>!=</pre> not equal to</li>
        <li><pre>&gt;</pre> or <pre>&gt;=</pre> greater than, or greater than or equal to</li>
        <li><pre>&lt;</pre> or <pre>&lt;=</pre> less than, or less than or equal to</li>
        </ul>
        For example: <tt>age > 10</tt> or 
    </li>
</ol>
</div>
</div>
{% endblock %}
