{% extends "admin/base_site.html" %}

<!-- LOADING -->
{% load i18n grp_tags log %}

<!-- JAVASCRIPTS -->
{% block javascripts %}
    {{ block.super }}
    <!-- Data interoggator scripts -->
{% endblock %}

<!-- COLTYPE/BODYCLASS-- >
{% block bodyclass %}dashboard{% endblock %}
{% block content-class %}content-grid{% endblock %}

<!-- BREADCRUMBS -->
{% block breadcrumbs %}
    <ul class="grp-horizontal-list">
        <li><a href="{% url 'admin:index' %}">{% trans "Home" %}</a></li>
        <li>Data uploader</li>
    </ul>
{% endblock %}
{% block content_title %}
    <header><h1>Data uploader</h1></header>
{% endblock %}

<!-- CONTENT -->
{% block content %}
<p>
    This page allows you to upload a data file for import into the database.
</p>
<table>
{{form.as_table}}
</table>
{% endblock %}
