{% load static %}
<!doctype html>
<html lang="en">
   <head>
        <title>{% block title %}Test stuff{% endblock %}</title>
<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>

        <!-- begin extra_script -->
        {% block extra_script %}
        {% endblock %}
        {{form.media}}
   </head>

   <body>
       {% block content %}
        {% include "data_interrogator/lineup.html" %}
        {% include "data_interrogator/table_display.html" %}
       {% endblock %}
   </body>
</html>
